/* @import "tailwindcss"; */
#root {
  max-width: 1500px;
  margin: 0 auto;

  --primary: #f5bd02;
  --secondary: #ff451b;
  --bgPrimary: #1d1d1e;
  --bgSecondary: #222224;
  --white: #fff;

  color: var(--white);
}

